.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    overflow: hidden;
    color: white;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(102, 32, 0) 49%, rgb(0, 0, 0) 100%);
}

.wrapper p {
    max-width: 40%;
}

.wrapper p,.wrapper h2, .wrapper button  {
    z-index: 2;
}

.imageBlock {
    position: absolute;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);

    opacity: 30%;
    filter: blur(7);
}

.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .3;
    z-index: 1;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (width < 452px) {
    .wrapper p {
        min-width: 80%;
    }
}