.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contentWrapper{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.wrapper input{
    max-width: 70%;
    min-height: 100px;
}

.contentWrapper h2{
    color: var(--primary);
}